body {
  background: #141414;
  color: #ffffff; 
}

.movie-app {
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
  white-space: nowrap;
  /* when the white-space is commented out the whole screen is filled with the movie images, no more scrolling unless up and down */
}